@use 'shared/scss-helpers/fonts.scss';
@use 'shared/scss-helpers/colors.scss';
@use 'shared/scss-helpers/mixins.scss';

.dialog {
  width: 100%;
  font-family: fonts.$franklin;
  border: none;
}

.dialogTitle {
  font-weight: fonts.$weight-bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid;
}

.description:last-child {
  border-bottom: none;
}

.term {
  font-weight: fonts.$weight-bold;
  font-size: 18px;
}

.detail {
  font-weight: fonts.$weight-medium;
  font-size: 16px;
}
