.xwd__modal--wrapper {
  @include stretch;
  @include flexbox(row, flex-end);

  position: absolute;
}

.xwd__modal--overlay {
  @include stretch;
  position: absolute;
  background-color: $gray7;
  opacity: 0.86;
  z-index: 101;
}

.pz-mobile {
  .xwd__modal--overlay {
    position: fixed;
  }

  .xwd__modal--overlay.showHeader {
    // make toolbar z-index larger than modal for start
    z-index: 99;
  }
}

.xwd__modal--body {
  display: flex;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  box-sizing: border-box;
  outline: none;
  padding: 24px;
  pointer-events: visible;
  position: relative;
  min-height: 50%;
  max-height: calc(100% - 32px);
  width: 100%;
  width: 100%;
  z-index: 102; // so that the ModalBody is above the ModalWrapper

  input:disabled span {
    color: $gray3;
    font-weight: 200;
  }
}

.xwd__modal--close {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2rem;
  font-weight: 700;

  .pz-icon {
    margin-right: 0;
    vertical-align: -0.125rem; // 2px
    background-size: unset;
    margin-left: 0.4rem;
  }

  &:hover {
    text-decoration: underline;
    color: $newsGray85;

    .pz-icon {
      // poor man's way of gettig it to grey on hover
      opacity: 0.85;
    }
  }
}

.conn__modal .xwd__modal--close {
  color: #000;
  text-align: right;
  font-family: $franklin;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.xwd__modal--title {
  font: bold 17px $franklin;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.xwd__modal--content {
  @include flexbox(column, center, center);
  @include font-size(16);

  font-family: $franklin;
  width: 100%;

  p {
    @include font-size(16);
  }
}

.pz-moment__description.small {
  margin-top: 8px;
  text-align: center;
}

@include tablet-and-desktop {
  .xwd__modal--wrapper {
    align-items: center;
    z-index: 99;
  }

  .xwd__modal--body {
    width: 540px;
    height: 540px;
  }

  .pz-moment__description.small {
    margin-top: 12px;
  }
}

@include desktop {
  .xwd__modal--body {
    width: 667px;
    height: calc(100% - 44px);
  }
}

.modal-system-container {
  position: initial;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.animate-opening {
  animation: SlideIn 200ms;
}

.xwd__modal--body.closing {
  animation: SlideOut 200ms;
}

@media screen and (max-width: 499px) {
  // show the modal scrim over the toolbar in mobile
  .modal-system-container {
    position: fixed;
    z-index: 100;
  }
}

// animations taken from Wordle

@keyframes SlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes SlideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}
